html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(256, 256, 256);
    background-color: rgb(10, 19, 16);
}
header {
    font-size: 50px;
    margin: 50px auto;
}
.word-input {
    margin: 0px auto;
}
.letter { 
    border-radius: 40%;
    width: 90px;
    height: 90px;
    margin: 0 15px;
    font-size: 60px;
    text-align: center;
    color: rgb(256, 256, 256);
}
.heading {
    margin: 40px auto 20px;
    font-size: 20px;
}
.letters {
    border-radius: 3% / 10%;
    text-align: center;
    color: rgb(256, 256, 256);
    width: 300px;
    height: 60px;
    font-size: 40px;
}
.submit {
    border-radius: 6% / 20%;
    margin: 40px auto;
    width: 150px;
    height: 60px;
    text-align: center;
    font-size: 30px;
}
.submit:active {
    background-color: rgb(200, 200, 200);
}